# Import Libraries

In [1]:
import pandas as pd

# Code

## Population

In [2]:
population = pd.read_csv(r"C:\Users\Harsh mishra\Desktop\solarFarm\data\population\Population of India.csv")

population.head()

,Sl No,State/UT,Population[50],Percent (%),Male,Female,Difference between male and female,Sex ratio,Rural[51],Urban[51],Area[52] (km2),Density (per km2)
0,1,Uttar Pradesh,199812341,16.50,104480510,95331831,9148679,930,155111022,44470455,240928,828
1,2,Maharashtra,112374333,9.28,58243056,54131277,4111779,929,61545441,50827531,307713,365
2,3,Bihar,104099452,8.60,54278157,49821295,4456862,918,92075028,11729609,94163,1102
3,4,West Bengal,91276115,7.54,46809027,44467088,2341939,950,62213676,29134060,88752,1030
4,5,Madhya Pradesh,72626809,6.00,37612306,35014503,2597803,931,52537899,20059666,308245,236

In [7]:
population.rename(columns = {'State/UT' : 'State'}, inplace = True)

print("Before dropping")
print(population.columns)

population.drop(population.columns[[3, 4, 5, 6, 7]], axis = 1, inplace = True)

print("After dropping")
print(population.columns)

Before dropping
Index(['Sl No', 'State', 'Population[50]', 'Percent (%)', 'Male', 'Female',
       'Difference between male and female', 'Sex ratio', 'Rural[51]',
       'Urban[51]', 'Area[52] (km2)', 'Density (per km2)'],
      dtype='object')
After dropping
Index(['Sl No', 'State', 'Population[50]', 'Rural[51]', 'Urban[51]',
       'Area[52] (km2)', 'Density (per km2)'],
      dtype='object')

## Solar

In [3]:
solar = pd.read_csv(r"C:\Users\Harsh mishra\Desktop\solarFarm\data\solar_farms_india_2021.csv")

solar.head()

              State  Total Solar Area (hectares)  Total Solar Farm Count
0    Andhra Pradesh                         5887                      69
1      Chhattisgarh                          413                       8
2           Gujarat                         3503                      73
3           Haryana                          256                      22
4  Himachal Pradesh                           75                       6

Common column

In [9]:
import numpy as np

common = np.intersect1d(solar.columns, population.columns)

print(common)

['State']

In [14]:
merged_df_outer = pd.merge(population, solar, on='State', how='outer')

print(merged_df_outer)

   Sl No                             State  Population[50]  Rural[51]  \
0      1                     Uttar Pradesh       199812341  155111022
1      2                       Maharashtra       112374333   61545441
2      3                             Bihar       104099452   92075028
3      4                       West Bengal        91276115   62213676
4      5                    Madhya Pradesh        72626809   52537899
5      6                        Tamil Nadu        72147030   37189229
6      7                         Rajasthan        68548437   51540236
7      8                         Karnataka        61095297   37552529
8      9                           Gujarat        60439692   34670817
9     10                    Andhra Pradesh        49386799   34776389
10    11                            Odisha        41974218   34951234
11    12                         Telangana        35193978   21585313
12    13                            Kerala        33406061   17445506
13    14                         Jharkhand        32988134   25036946
14    15                             Assam        31205576   26780526
15    16                            Punjab        27743338   17316800
16    17                      Chhattisgarh        25545198   19603658
17    18                           Haryana        25351462   16531493
18    19                        Delhi (UT)        16787941     944727
19    20                 Jammu and Kashmir        12541302    9134820
20    21                       Uttarakhand        10086292    7025583
21    22                  Himachal Pradesh         6864602    6167805
22    23                           Tripura         3673917    2710051
23    24                         Meghalaya         2966889    2368971
24    25                           Manipur         2855794    1899624
25    26                          Nagaland         1978502    1406861
26    27                               Goa         1458545     551414
27    28                 Arunachal Pradesh         1383727    1069165
28    29                   Puducherry (UT)         1247953     394341
29    30                           Mizoram         1097206     529037
30    31                   Chandigarh (UT)         1055450      29004
31    32                            Sikkim          610577     455962
32    33  Andaman and Nicobar Islands (UT)          380581     244411
33    34       Dadra and Nagar Haveli (UT)          343709     183024
34    35                Daman and Diu (UT)          243247      60331
35    36                  Lakshadweep (UT)           64473      14121
36     –                     Total (India)      1210854977  833087662

    Urban[51]  Area[52] (km2)  Density (per km2)  Total Solar Area (hectares)  \
0    44470455          240928                828                        556.0
1    50827531          307713                365                       5141.0
2    11729609           94163               1102                          NaN
3    29134060           88752               1030                        360.0
4    20059666          308245                236                       5365.0
5    34949729          130058                555                      28908.0
6    17080776          342239                201                      14456.0
7    23578175          191791                319                      29506.0
8    25712811          196024                308                       3503.0
9    14610410          160205                308                       5887.0
10    6996124          155707                269                        854.0
11   13608665          114840                307                      19250.0
12   15932171           38863                859                        439.0
13    7929292           79714                414                        168.0
14    4388756           78438                397                          NaN
15   10387436           50362                550                        767.0
16    5936538          135191                189                        413.0
17    8821588           44212                573                        256.0
18   12905780            1484              11297                          NaN
19    3414106          222236                 56                          NaN
20    3091169           53483                189                       2665.0
21     688704           55673                123                         75.0
22     960981           10486                350                         34.0
23     595036           22429                132                          NaN
24     822132           22327                128                          NaN
25     573741           16579                119                          NaN
26     906309            3702                394                          NaN
27     313446           83743                 17                          NaN
28     850123             479               2598                          NaN
29     561997           21081                 52                          NaN
30    1025682             114               9252                          NaN
31     151726            7096                 86                          NaN
32     135533            8249                 46                          NaN
33     159829             491                698                          NaN
34     182580             112               2169                          NaN
35      50308              32               2013                          NaN
36  377105760         3287240                382                          NaN

    Total Solar Farm Count
0                     21.0
1                    105.0
2                      NaN
3                     14.0
4                     59.0
5                    156.0
6                     88.0
7                    343.0
8                     73.0
9                     69.0
10                    27.0
11                   250.0
12                    12.0
13                     6.0
14                     NaN
15                    47.0
16                     8.0
17                    22.0
18                     NaN
19                     NaN
20                    56.0
21                     6.0
22                     1.0
23                     NaN
24                     NaN
25                     NaN
26                     NaN
27                     NaN
28                     NaN
29                     NaN
30                     NaN
31                     NaN
32                     NaN
33                     NaN
34                     NaN
35                     NaN
36                     NaN

In [15]:
merged_df_outer.to_csv(r"C:\Users\Harsh mishra\Desktop\solarFarm\data\solar+population.csv", index = False)

In [16]:
null_count = merged_df_outer.isnull().sum().sum()
print('Number of null values:', null_count)

Number of null values: 36